body {
	padding: 25px 30px;
}
.logo {
	vertical-align: middle;
}
.logo img {
	height: 22px;
}
.navbar{
	display: inline-block;
	vertical-align: middle;
	margin: 0 0 0 20px;
}
.navbar li{
	display: inline-block;
	margin: 0 10px 0;
}
.navbar li a {
	color: #3D58A6;
	font-size: 22px;
}
.active {
	color: #EE4036;
}
.title-h3{
	margin: 120px 0 30px;
}
.boxes-main{
	background-color:#F2F2F2;
}
.title-h4{
	color: #3D58A6;
}
.box1{
	display: inline-block;
}
.box2{
	display: inline-block;
}
.text-box {
	display: inline-block;
    width: 800px;
    vertical-align: top;
    margin: 0 0 0 30px;
}
.text-box  p{
	margin: 0 0 50px;
}
.contact-info{
	display: inline-block;
}
.box1{
	display: inline-block;
}
.box2{
	display: inline-block;
}
.box-img{
	height: 130px;
}
.contact-box{
		margin-top: 120px;
}

.soc-logo{
	display:block;
	background-color: white;
	margin: 100px 0;
  }
 .fb-logo{
	background-color: white;
	width: 14px;
	border-right: #3D58A6 solid;
	padding: 0px 35px 0px 11px;
    margin: 68px 35px 90px 0px;
	
 }
 .youtube-logo{
	background-color: white;
	width: 24px;
	padding: 0px 35px 0px 0px;
    margin: 68px 35px 90px 0px;
 }
 section{
	 margin: 30px 0 0 0;
 }