body {
	padding: 25px 30px;
}
.logo {
	vertical-align: middle;
}
.logo img {
	height: 22px;
}
.navbar{
	display: inline-block;
	vertical-align: middle;
	margin: 0 0 0 20px;
}
.navbar li{
	display: inline-block;
	margin: 0 10px 0;
}
.navbar li a {
	color: #3D58A6;
	font-size: 22px;
}
.active {
	color: #EE4036;
}
.banner{
	width: 1170px;
}
.box{
	background-color:#F2F2F2;
	display: inline-block;
	margin: 0 29px 0 0;
	width: 570px;
}
.title-h3{
	margin: 120px 0 30px;
}

.title-h4{
	color: #3D58A6;
	padding: 15px 0 0 47px;
}
.box p{
	
	padding: 20px 15px 50px 70px;
	display: inline-block;
	vertical-align: middle;
	color:  #3D58A6;
	width: 355px;
}
.box span{
	height: 100px; width:90px;
	padding: 12px 0 41px 36px;
	display: inline-block;
	vertical-align: middle;
}
.hand-logo{
	height: 130px; width:101px;
	padding: 12px 0 41px 36px;
	display: inline-block;
	vertical-align: middle;
}


.text-box {
	display: inline-block;
    width: 800px;
    vertical-align: top;
    margin: 0 0 0 30px;
}
.text-box  p{
	margin: 0 0 50px;
}
.contact-info{
	display: inline-block;
}

.contact-box{
		margin-top: 120px;
}

.soc-logo{
	display:block;
	background-color: white;
	margin: 100px 0;
  }
 .fb-logo{
	background-color: white;
	width: 14px;
	border-right: #3D58A6 solid;
	padding: 0px 35px 0px 11px;
    margin: 68px 35px 90px 0px;
	
 }
 .youtube-logo{
	background-color: white;
	width: 24px;
	padding: 0px 35px 0px 0px;
    margin: 68px 35px 90px 0px;
 }
 section{
	 margin: 30px 0 0 0;
 }